/* Add_Expense.css */

.split-options {
  display: flex;
  justify-content: center;
  margin-top: -0.5rem; /* Adjust as needed */
}

.split-options label {
  margin-right: 0rem; /* Adjust spacing between radio buttons */
  display: flex;
  align-items: center; /* Align radio button vertically with label text */
}

.split-options input[type="radio"] {
  margin-left: 10rem;
  margin-right: 0.5rem; /* Adjust spacing between radio button and label */
}

.group-list {
  list-style: none;
  margin-left: 0; /* Reset margin-left */
  padding: 0;
}

.group-list li {
  margin-bottom: 0.5rem; /* Adjust spacing between groups */
}

.group-list input[type="radio"] {
  margin-right: 2rem; /* Adjust spacing between radio buttons and group names */
}
