
  .page-head {
    font-size: 5rem; /* Converted from 500% */
    font-family: 'Nunito', Arial, sans-serif;
    color: #000f73;
    margin-left: 25rem;
  }
  .head {
    font-size: 1.5rem; /* Converted from 500% */
    font-family: 'Nunito', Arial, sans-serif;
    color: #000f73;
    margin-left: 0rem;
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Align buttons to the center horizontally */
    margin-top: 2rem;
    margin-left: 0rem;
  }
  
  .button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    font-weight: bold;
    border: none; /* Remove button border */
    padding: 1rem 2rem; /* Padding around button text */
    margin: 0 0; /* Margin between buttons */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 2rem; /* Rounded corners */
    width: 10rem;
  }
  
  .button:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
  
  .button:active {
    transform: translateY(1px); /* Add slight vertical movement on button press */
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    body {
      margin-left: 0;
    }
    .page-head {
      font-size: 3.5rem; /* Adjust font size for smaller screens */
    }
    .expense-button {
        padding: 1rem; /* Adjusted padding for smaller screens */
    }
  }
  