/* Group_Page.css */
/* Group_Page.css */

.Group_Page {
    font-size: 18px;
  }
  
.ul {
    list-style: none;
    padding: 0;
}
  
.li {
    margin-bottom: 10px; /* Adjust margins as needed */
}
  