
  /* Input Styles */
  .input-container {
    margin-bottom: 0.1rem;
  }
  input[type="text"], 
  input[type="password"]{
    width: 15rem; /* Converted from 25% */
    height: 1rem;
    font-family: 'Overpass', Arial, sans-serif;
    font-size: 0.875rem; /* Converted from 14px */
    padding: 0.5rem; /* Converted from 8px */
    border: 0.0625rem solid #789ade; /* Converted from 1px */
    border-radius: 1rem; /* Converted from 100px */
  }
  
  button {
    color: #444b59;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    text-decoration: underline;
  }
  
  .page-head {
    font-size: 5rem; /* Converted from 500% */
    font-family: 'Nunito', Arial, sans-serif;
    color: #000f73;
  }
  
  
  
  .sign-in-button {
    background-color: #8699da; /* Change background color to purple */
    color: white; /* Change text color to white */
    font-weight: bold;
    padding: 0.5rem 4rem; /* Increase padding for larger size */
    font-size: 1.2rem; /* Increase font size for larger size */
    border-radius: 5rem;
  }
  
  
  
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    body {
      margin-left: 0;
    }
  
    .page-head {
      font-size: 3.5rem; /* Adjust font size for smaller screens */
    }
  
    input[type="text"],
    input[type="password"] {
      width: 90%; /* Adjust input width for smaller screens */
    }
  }
  