.Participants {
    font-size: 18px;
    padding: 20px;
  }
  .participants-button {
    background-color: none;
    color: #444b59;
    font-weight: bold;
    border: none;
    margin-bottom: 0.5rem;
    margin-left: auto; /* Align to the right */
    margin-right: auto; /* Align to the left */
    display: block; /* Ensures full-width */
    width: fit-content; /* Adjust width to content */
    padding: 1rem; /* Adjusted padding for smaller screens */
    border-radius: 2rem;
    cursor: pointer;
    text-align: center; /* Align text to the center */
    font-size: 1.5rem;
    text-decoration: none;
}
.member-list {
  margin-top: 20px;
  
}

.member-list p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-left: 25rem;
}
  .button {
    align-items: center;
    margin-left: -10rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #8699da;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  
.error {
  color: red;
  margin-top: 10px;
}
  