
  
  .page-head {
    font-size: 5rem; /* Converted from 500% */
    font-family: 'Nunito', Arial, sans-serif;
    color: #000f73;
    align-self: center;
  }
 
  .user-info {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  
  .user-info p {
    margin-bottom: 2rem;
    color: #444b59; /* Change color as needed */
  }
  .button-container {
    display: flex;
    margin-left:10rem; /* Align buttons to the right */
    margin-top: 10rem; /* Adjust as needed */
  }
  
  .button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    font-weight: bold;
    border: none; /* Remove button border */
    padding: 1rem 1rem; /* Padding around button text */
    margin-left: 10rem; /* Space between buttons */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 2rem; /* Rounded corners */
    width: 10rem;
  }
  
  .button:hover {
    background-color: #007bff; /* Darker background color on hover */
  }
  
  .button:active {
    transform: translateY(1px); /* Add slight vertical movement on button press */
  }
  
  
  footer {
    background-color: #444b59;
    height: 0.5rem; /* Converted from 1% */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    body {
      margin-left: 0;
    }
  
    .page-head {
      font-size: 3.5rem; /* Adjust font size for smaller screens */
    }
  
    input[type="text"],
    input[type="password"] {
      width: 90%; /* Adjust input width for smaller screens */
    }
  }
  